/* Add styling for your page here */

.App {
    font-family: Arial, Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 0px, 0px, 0px, 0px;
}

.Perform {
    color:black;
    background-color: black;
}

a { text-decoration: none; font-size: 60px;}
a:focus {
    outline: none;
    box-shadow: none;
    border-color: red;
    /* color:red; */
    text-decoration: underline;
}
a:hover {
    /* color:red; */
    text-decoration: underline;
}

button {margin: 20px 0; position:relative;}
/* text-shadow: 0 1px 0 #fff; */
p { color: rgba(0, 0, 0, 0.5); margin: 20px 0; line-height: 1.6; }

ul { list-style: none; margin: 25px 0; padding: 0; }
li { display: table-cell; font-weight: bold; width: 1%; }

#SmallFont {
    font-size:.25px;
}